.viewport {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    max-height: 100%;
}
/*.viewport > section {
    width: 1px;
}*/
.preview {
    border-left: #dfe1e3 1px solid;
}
.file-drop-section {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    height: 65px;
    border-bottom: #dfe1e3 1px solid;
}
.content-section-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.content-section {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
}
.content {
    position: relative;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding: 21px 20px 36px;
}
.content-header {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    border-top: #dfe1e3 1px solid;
    font-size: 1.2rem;
    line-height: 1em;
    padding: 5px 15px;
    color: #7d878a;
}
